.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.container {
  text-align: center;
  background-color: aqua;
  padding-left: var(--bs-gutter-x);
  padding-right: var(--bs-gutter-x);
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: calc(540px + 2 * var(--bs-gutter-x));
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: calc(720px + 2 * var(--bs-gutter-x));
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-y: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}

div {
  display: block;
}
